body {
    height: 400vh;
}

h1, h2, p {
    margin: 0;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.mask-reveal {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.img-stack img {
    position: fixed;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
.img-stack img:nth-child(1) {
    rotate: -10deg;
}
.img-stack img:nth-child(3) {
    rotate: 10deg;
}

.img-stack img.click-icon {
    pointer-events: none;
    width: 5vmax !important;
    height: 5vmax !important;
}

.layout {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.layout > * {
    position: fixed;
}

.video-wrapper {
    width: 100%;
}

video.cooking-video {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    object-fit: cover;
    filter: contrast(150%) saturate(150%);
}

.blur {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

.impact-title {
    left: 50%;
    bottom: 50%;
    text-align: center;
    transform: translate(-50%, 50%);
    font-size: 20vw;
    font-family: 'Oswald', sans-serif;

    color: #000000;
    text-shadow: 2px 2px #ffffff;
}

.impact.bg {
    bottom: -100vh;
    background-color: #ffa500;
}

.impact.bg .impact-text {
    position: fixed;
    width: 50vmax;
    left: 32vw;
    top: 115vmax;
    font-size: 2.25vw;
    transform: translateX(-50%);
}

.impact.bg .img-stack {
    position: fixed;
    right: 10vmax; 
    top: 50vh;
}

.impact.bg .img-stack img {
    width: 35vmax;
    height: 35vmax;
}

.impact.bg .img-stack .line {
    position: fixed;
    width: 1px;
    height: 90vh;
    right: 36vmax;
    top: 105vh;
    
    background-color: #000000;
}

.health.bg {
    right: -100vw;
    background-color: #f08080;
}

.health.bg .img-stack {
    position: fixed;
    left: 120vmax; 
    top: 50vh;
}

.health.bg .health-text {
    position: fixed;
    width: calc(100vw - 40vmax - 15rem);
    left: 140vmax;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.25vw;
}

.health.bg .img-stack img {
    width: 25vmax;
    height: 25vmax;
}

.health-stats-panel {
    width: calc(100vw - 15rem);
    height: 100vh;
    top: -100vh;
    background-color: #ed6969;
}

.health-title {
    width: 100vh;
    height: 15rem;
    left: calc(100vw - 15rem);
    bottom: 100vh;
    text-align: center;
    transform-origin: 0 100%;
    rotate: 90deg;

    font-size: 10rem;
    font-family: 'Oswald', sans-serif;

    color: #000000;
}

.environment.bg {
    top: -100vh;
    background-color: #008080;
}

.money.bg {
    left: -100vw;
    background-color: #ffc300;
}

.creative.bg {
    right: -100vw;
    background-color: #873260;
}