body {
    height: 500vh;
    overflow-x: hidden;
}

h1, h2, p {
    margin: 0;
}

.cover {
    width: 100%;
    height: 100vh;
    background-color: #f5f5dc;
}

.cover .images {
    position: absolute;
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    overflow-y: hidden;
}

.cover .images .column {
    position: relative;
    height: 100vh;
}

.cover .images .column:nth-child(2), .cover .images .column:nth-child(3) {
    display: none;
}

.cover .images .column img {
    position: absolute;
    width: 50%;
    height: auto;
    left: 50%;
    top: 100vh;
    transform: translateX(-50%);
}

.cover-text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.cover-text h1 {
    color: #ffdb58;
    font-size: 10vw;
    font-family: 'Chewy', cursive;
}

.cover-text p {
    color: #8B4513;
    font-size: 2vw;
}

.section {
    padding: 50px;
    background-color: #FFDB58;
    text-align: center;
}

.section h2 {
    font-size: 5vw;
}

.section p {
    font-size: 2vw;
}

.section a button {
    width: 20vw;
    height: 10vh;
    border-radius: 5vh;
    font-size: 3vw;
    cursor: pointer;
}

.canvas-wrapper {
    position: static;
    width: 100%;
    height: 100vh;
    top: 0;
}

@media only screen and (min-width: 720px) {
    .cover .images .column:nth-child(2) { display: initial; }
}

@media only screen and (min-width: 960px) {
    .cover .images .column:nth-child(3) { display: initial; }
}