body {
    margin: 0;
}

.nav {
    z-index: 9999;

    position: fixed;
    width: 100%;
    height: 100lvh;

    top: 0;

    pointer-events: none;
}

.nav > div {
    position: fixed;
}

.hamburger-bg {
    z-index: 100;
    position: fixed;
    left: -100px;
    top: -100px;

    width: 200px;
    height: 200px;
    
    background: rgba(150, 150, 150, 0.4);
    border: 2px solid rgba(100, 100, 100, 0.5);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(3px);
    pointer-events: auto;
    cursor: pointer;
}

.hamburger-bg:has(.toggle) {
    left: -100vmax;
    top: -100vmax;

    width: 250vmax;
    height: 250vmax;
    
    cursor: auto;
}

.hamburger {
    position: fixed;
    left: 120px;
    top: 135px;

    width: 30px;
    height: 5px;
    display: block;

    background-color: lightblue;
    transition: 0.5s ease-in-out;
}

.hamburger.toggle {
    left: calc(100vmax + 20px);
    top: calc(100vmax + 35px);
}
  
.hamburger:before, .hamburger:after {
    content: "";

    position: absolute;
    width: 100%;
    height: 100%;
    display: block;

    background-color: lightblue;
    transition: 0.5s ease-in-out;
}

.hamburger:before {top: -10px;}
.hamburger:after {bottom: -10px;}

.hamburger.toggle {transform: rotate(45deg);}
.hamburger.toggle:before {
    top: 0;
    transform: rotate(90deg);
}
.hamburger.toggle:after {
    bottom: 0;
    transform: rotate(90deg);
}

.nav-links-wrapper {
    z-index: 9997;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

.nav-links {
    z-index: 9997;
    position: fixed;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
}

.link {
    margin: 0;
    font-size: max(50px, 3rem);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.link:hover {
    color: rgba(0, 0, 0, 0.5);
}

.link span {
    display: inline-block;
}

.link span.bottom {
    position: absolute;
    transform: translateX(-100%);
}

.link span.top span {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
}

.link span.bottom span {
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

.cutting-point {
    z-index: 9998;
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
}

.cutting-point-trail {
    z-index: 9998;
    position: fixed;
}

.cutting-point-trail div {
    z-index: 9998;
    position: fixed;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #000000;
}

.curtains {
    z-index: 9999;

	position: fixed;
	width: 100%;
	height: 100vh;
}

.curtains > div {
	position: fixed;
	width: 100%;
	height: 100vh;
}

.top-curtain {
	background-color: lightblue;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
	transform-origin: left center;
}

.bottom-curtain {
	background-color: lightcoral;
	clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
	transform-origin: right center;
}